<!-- <html>
    <head><title>
        <%= title%></title>
    </head>
    <body> -->
        <!-- <header> 
            page header 
        </header> -->
     <!-- <%- include('_header');%> -->

    <link rel="stylesheet" href="/css/user_profile.css">

        <h1> 
            codial/profile page / <%=title%>
         </h1>

        <!-- <footer> page footer </footer> -->
        <!-- <%- include('_footer');%>
    </body>
</html> -->


<!-- showing user data -->
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>

